.mainbody{
    margin-left: 160px;
    margin-right: 160px;
}
.mainbody_top{
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.mainbody_top_left{
    font-size: 18px;
    font-weight: 520;
    margin-right: 250px;
}

.mainbody_top_center{
    display: flex;
    align-items: center;
    font-size: 16px;
    padding: 3px 5px;
    border: none;
}

.mainbody_top_center:hover{
    background-color: rgb(243, 234, 234);
    border-radius: 6px;
}

.mainbody_top_right{
    display: flex;
    align-items: center;
}

.mainbody_docs{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.doc_card{
    margin-top: 10px;
    width: 190px;
    border: 1px solid #e3e3ce;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin-right: 20px;
    margin-bottom: 20px;
}

.doc_card:hover{
    border: 1px solid #6E2594;
}
   
.doc_image{
    width: 188px;
    height: 140px;
    box-sizing: border-box;
}   

.doc_card_content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 8px;
}
.card_title{
    align-content: center;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}

.card_content{
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.content_left{
    display: flex;
    flex-direction: row;
    align-items: center;
}